$primary: #8F00FF;
$opacity-primary: #431876;
$opacity-primary-color: #BA63FF;

$text-color: #fff;
$text-gray: #c5c5ca;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
